SECRET_KEY=replace-me-with-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,ajadocs-1.onrender.com,aja-docs.vercel.app
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://aja-docs.vercel.app,https://ajadocs-1.onrender.com
CSRF_TRUSTED_ORIGINS=https://aja-docs.vercel.app,https://ajadocs-1.onrender.com
